<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "Genesis Asset Solutions LLC",
    "areaServed": "Texas",
    "telephone": "888-506-2708",
    "email": "dustin@genesisassetsolutions.com",
    "url": "https://jonezd-beep.github.io/genesisassetsolutions-site/"
  }
  </script>

</head>

<body>

{% include header.html %}

<main>
{{ content }}
</main>

{% include footer.html %}

</body>
</html>